* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.App {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    flex-direction: row;
}

.control {
    height: 100vh;
}

#model-canvas {
    width: 100%;
    height: 100%;
}

.anim-pane, .input-pane {
    flex: 1;
    height: 100%;
    min-width: 0;
    background-color: beige;
}

.model-file-tree {
    flex: 0 1 20%; 
    max-width: 250px; 
    background-color: rgb(236, 236, 197);
}

.skeleton, .morph {
    height: 100vh;
    display: flex;
    border-width: 1px;
    border: solid;
    border-color: black;
    flex-direction: row;
}

.morph-selection, .bone-selection, .landmark-selection {
    border-width: 1px;
    border: solid;
    border-color: black;
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 500px;
    flex: 2;
}

.bone-control, .morph-control {
    flex: 3;
    overflow-y: scroll;
    height: 100%;
}

.scene, .input-display {
    border-width: 1px;
    border: solid;
    border-color: black;
    width: 100%;
    height: 50%;
}

.landmark-button {
    width: 50px;
}

.video-playback {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-display {
    background-color: rgb(40, 40, 40);
    align-items: center;
}

.upload-form, .video-upload-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.upload-model-button {
    left: 10px;
}

